/******** COMMON RULES ********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container_big{
    position: relative;
    height: 700px;
}

img{
    max-width: 100%;
}

/********* DEBUG ********/

#debug .container_big{
    background-color: gray;
    margin-bottom: 20px;
}

/* debug of header */

#debug #menu{
    height: 10%;
    background-color: aqua;
}

#debug .col_15{
    height: 100%;
    background-color: lightgrey;
}

#debug .col_70{
    height: 100%;
}

#debug #text_header{
    height: 40%;
    background-color: aqua;
}

#debug #barra_action{
    background-color: red;
}

/* debug of main */
/* debug of first, second and third container - MAIN */

#debug .first_row_big{
    height: 100%;
    background-color: brown;
}

#debug .col_big{
    height: 100%;
    background-color: green;
}

#debug .col_small{
    height: 100%;
    background-color: yellow;
}

/* debug fourth container - MAIN */

#debug #first_row_fourth{
    height: 15%;
    background-color: yellow;
}

#debug #second_row_fourth{
    height: 60%;
    background-color: green;
}

#debug #third_row_fourth{
    height: 25%;
    background-color: red;
}

#debug #first_col{
    background-color: bisque;
    height: 100%;
}

#debug #second_col{
    background-color: purple;
    height: 100%;
}

#debug #third_col{
    background-color: burlywood;
    height: 100%;
}

/* debug of footer */

#debug #first_row_footer{
    height: 75%;
    background-color: cadetblue;
}

#debug #second_row_footer{
    height: 25%;
    background-color: rgb(44, 145, 113);
}

#debug #col_25{
    height: 100%;
    background-color: darkblue;
}

#debug #col_75{
    height: 100%;
    background-color: darkgoldenrod;
}

/********* UTILITY ********/

:root{

}

/********* HEADER ********/

.container_big img{

}

/* central menu */
#menu{
    width: 75%;
    margin: 0 auto;
    content: "";
    display: table;
    clear: both;
    position: absolute;
    top: 0;
    left: 12.5%;
}

/* coloumn of left */
.col_15{
    width: 15%;
    float: left;
}

.col_15 img{
    margin-top: 15px;
}

/* central column */
.col_70{
    width: 70%;
    float: left;
}
#navigator{
    text-align: center;
    margin: 20px;
}

#navigator a{
    margin: 25px;
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

/* column of right */
#menu_action{
    margin: 20px;
}

#menu_action a{
    margin: 70px;
    padding: 0.7rem;
    border-radius: 20px;
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
    background-color: white;
}

/* Central text */
#text_header{
    width: 50%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#text_menu{
    margin-bottom: 30px;
}

#text_menu h2, p{
    text-align: center;
    color: white;
}

#text_menu > h2{
    font-size: 3.5rem;
    margin-bottom: 20px;
}

#text_menu > p{
    font-size: 1rem;
}
/* barra action */
#barra_action{
    width: 50%;
    margin: 0 auto;
}

#text_action_one{
    display: inline-block;
}

#text_action_one a{
    padding: 0.7rem;
    border-radius: 20px;
    font-size: 0.8rem;
    text-decoration: none;
    color: #23272A;
    background-color: white;
}

#text_action_two{
    display: inline-block;
    margin-left: 78px;
}

#text_action_two a{
    padding: 0.7rem;
    border-radius: 20px;
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    background-color: #23272A;
}

/********* MAIN ********/

/* this is are generic big rows of first, second and third coitainers */

.first_row_big{
    width: 85%;
    margin: 0 auto;
    content: "";
    display: table;
    clear: both;
}

.col_big{
    width: 70%;
    float: left;
}

.col_small{
    width: 30%;
    float: left;
}

/* first row, first block */

.col_big img{
    padding: 100px;
}

.text_block_one{
    padding: 130px 80px 0 80px;
}

.text_block_one h2, p{
    color: black
}

.text_block_one h2{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.text_block_two{
    padding: 15px 60px;
}

/* first row, second block */
.img{
    background-image: url("../img/wave1.jpg");
    background-repeat: no-repeat;
    background-size: 130% 50%;
}

#text_block_one_dif{
    padding: 130px 40px 0 40px;
}

#text_block_one_dif h2{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

#text_block_two_dif{
    padding: 15px 40px;
}

/* this is are generic rows of fourth cointainer */

#first_col{
    width: 65%;
    margin: 0 auto;
}

#debug #second_col{
    width: 75%;
    margin: 0 auto;
}

#debug #third_col{
    width: 50%;
    margin: 0 auto;
}

#text_fourth_block h2, p{
    text-align: center;
}

#text_fourth_block h2{
    font-size: 3rem;
    margin-bottom: 15px;
}

#second_col{
    background-image: url("../img/item4-big.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

#img_third_row{
    background-image: url(../img/stars.svg);
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

#img_third_row h2{
    text-align: center;
    padding: 45px;
    font-size: 1.7rem;
}

#text_action_fourth_block a{
    padding: 0.7rem;
    border-radius: 20px;
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    background-color: #8EA1E1;
}

/********* FOOTER ********/

#first_row_footer, #second_row_footer{
    width: 85%;
    margin: 0 auto;
    content: "";
    display: table;
    clear: both;
}

#col_25{
    width: 25%;
    float: left;
}

#col_75{
    width: 75%;
    float: left;
}

