/******** COMMON RULES ********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/********* DEBUG ********/

#debug .container_big{
    height: 700px;
    background-color: gray;
    margin-bottom: 20px;
}

/* debug of first container */

#debug #menu{
    width: 75%;
    height: 10%;
    margin: 0 auto;
    background-color: aqua;
}

#debug #text_header{
    width: 50%;
    height: 40%;
    margin: 0 auto;
    background-color: aqua;
}

/********* UTILITY ********/

:root{

}

/********* HEADER ********/

.container_big{
    position: relative;
}

#text_header{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/********* MAIN ********/

/********* FOOTER ********/