/******** COMMON RULES ********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container_big{
    position: relative;
}

/********* DEBUG ********/

#debug .container_big{
    height: 700px;
    background-color: gray;
    margin-bottom: 20px;
}

/* debug of header */

#debug #menu{
    height: 10%;
    background-color: aqua;
}

#debug #text_header{
    height: 40%;
    background-color: aqua;
}

/* debug of first, second and third container */

#debug .first_row_big{
    height: 100%;
    background-color: brown;
}

#debug .col_big{
    height: 100%;
    background-color: green;
}

#debug .col_small{
    height: 100%;
    background-color: yellow;
}

/* debug fourth container */

#debug #first_row_fourth{
    height: 15%;
    background-color: yellow;
}

#debug #second_row_fourth{
    height: 60%;
    background-color: green;
}

#debug #third_row_fourth{
    height: 25%;
    background-color: red;
}

#debug #first_col{
    background-color: bisque;
    height: 100%;
}

#debug #second_col{
    background-color: purple;
    height: 100%;
}

#debug #third_col{
    background-color: burlywood;
    height: 100%;
}

/********* UTILITY ********/

:root{

}

/********* HEADER ********/

#menu{
    width: 75%;
    margin: 0 auto;
}


#text_header{
    width: 50%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/********* MAIN ********/

/* this is are generic big rows of first, second and third coitainers */

.first_row_big{
    width: 85%;
    margin: 0 auto;
    content: "";
    display: table;
    clear: both;
}

.col_big{
    width: 70%;
    float: left;
}

.col_small{
    width: 30%;
    float: left;
}

/* this is are generic rows of fourth cointainer */

#first_col{
    width: 65%;
    margin: 0 auto;
}

#debug #second_col{
    width: 75%;
    margin: 0 auto;
}

#debug #third_col{
    width: 50%;
    margin: 0 auto;
}

/********* FOOTER ********/